# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [ ]:
series1 = pd.Series(np.random.randint(1, high = 5, size = 100, dtype = int))
series2 = pd.Series(np.random.randint(1, high = 4, size = 100, dtype = int))
series3 = pd.Series(np.random.randint(10000, high = 30001, size = 100, dtype = int))
print(series1, series2, series3)

0     1
1     2
2     3
3     2
4     2
     ..
95    4
96    1
97    2
98    3
99    3
Length: 100, dtype: int64 0     3
1     3
2     2
3     1
4     3
     ..
95    2
96    3
97    1
98    3
99    2
Length: 100, dtype: int64 0     22709
1     25885
2     17447
3     20066
4     23099
      ...
95    21884
96    22886
97    20974
98    19943
99    29796
Length: 100, dtype: int64

### Step 3. Let's create a DataFrame by joinning the Series by column

In [ ]:
join_S = pd.concat([series1,series2,series3], axis = 1)
join_S.head()

   0  1      2
0  1  3  22709
1  2  3  25885
2  3  2  17447
3  2  1  20066
4  2  3  23099

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [ ]:
join_S.rename(columns = {0: 'bedroom', 1: 'bathroom', 2: 'price_sqr_meter'}, inplace = True)
join_S.head()

   bedroom  bathroom  price_sqr_meter
0        1         3            22709
1        2         3            25885
2        3         2            17447
3        2         1            20066
4        2         3            23099

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [ ]:
bigcolumn = pd.concat([series1, series2, series3], axis=0)
bigcolumn = bigcolumn.to_frame()
print(type(bigcolumn))
bigcolumn

<class 'pandas.core.frame.DataFrame'>

        0
0       1
1       2
2       3
3       2
4       2
..    ...
95  21884
96  22886
97  20974
98  19943
99  29796

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [ ]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [ ]:
bigcolumn.reset_index(drop = True, inplace = True)
bigcolumn

         0
0        1
1        2
2        3
3        2
4        2
..     ...
295  21884
296  22886
297  20974
298  19943
299  29796

[300 rows x 1 columns]